body, html, #image-map {
  width: 100%;
  height: 100%;
  margin: 0;
}

.leaflet-container {
  background: #fff;
}

.schema-select {
  position: absolute;
  z-index: 999;
  right: 20px;
  top: 20px;
  padding: 5px;
  background: #fff;
}


.svg-overlay use {
  stroke: #f00;
  cursor: pointer;
  pointer-events: bounding-box;
}

.svg-overlay use:hover {
  stroke-width: 3;
}

.schematics-renderer {
}

